/*
     File:      main.css 
*/


/* Applies to all pages */
html, body {
    margin: 0;
    padding: 0;
    font-family: "ARS Maquette","Arial",sans-serif;
    font-weight: 300; 
    color:#555;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.offset:before {
    display: block;
    content: "";
    height: 5rem;
    margin-top: -5rem;
}

.heading {
    margin-bottom: 1.5rem;
}

.underline {
    width: 4rem;
    height: 0.2rem;
    background-color: #0070FF;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2.5rem;
}

/* NAVIGATION */

.navbar{
    letter-spacing: 0.05rem;
    background-color: white !important;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    font-weight: 400;
}

.navbar-brand img {
    height: 3.5rem;
}

.navbar-nav li {
    padding-right: 0.7rem;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(91, 91, 94);
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link:hover{
    color: #0070FF !important;
}


/* LANDING PAGE */

#home {
    margin-bottom: 5rem;
}

.landing {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('../Images/landing-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box; 
}

.caption {
    width: 100%;
    position: absolute;
    top: 33%;
    opacity: 0.9;
}

.caption h1 {
    font-size: 4rem;
    letter-spacing: 0.3rem;
    text-shadow: 0.1rem 0.1rem .8rem black;
    padding-bottom: 2.8rem;
}

.caption p {
    font-size: 1.5rem;
    width: 50%;
    text-shadow: 0.1rem 0.1rem 0.5rem black;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.6rem;
}

.btn-lg {
    border-width: medium;
    padding: 0.6rem 1.5rem;
    font-size: 1.3rem;
    text-shadow: 0.1rem 0.1rem .8rem black;;
}

.btn-lg:hover {
    background-color: #0070FF;
    color: white;
    border-color: #0070FF;
}

/* ABOUT US */

#about-us {
    margin-bottom: 5rem;
}

.about-us-desc {
    letter-spacing: 0.03rem;
    margin-left: 10rem;
    margin-right: 10rem;
}


/* SERVICES */

#services{
    margin-bottom: 12rem;
    max-width: 85vw;
    margin-left: auto;
    margin-right: auto;
}

.services-desc {
    margin-bottom: 3.5rem;
    letter-spacing: 0.03rem;
}

.service-row {
    margin-bottom: 4.5rem;
    display: flex;
    align-items: center;
}

.service-heading {
    color: #0070FF;
    margin-bottom: 2rem;
}

.service-description {
    text-align: justify;
}

.service-img {
    width: 100%;
}

.icon{
    color: #0070FF;
    margin-top: 1rem;
    margin-bottom: 1rem;
}


/* GET STARTED */

#get-started {
    box-shadow: 10px 10px 5px rgb(163, 163, 163);
    border: 1px solid rgb(167, 167, 167);
    width: 55vw;
    margin-left: auto;
    margin-right: auto;
    background-color: #f1f1f1;
    margin-bottom: 15rem;
}

#get-started h2 {
    margin-bottom: 2rem;
    margin-top: 2rem;
}

#get-started p {
    margin-bottom: 2rem;
    letter-spacing: 0.03rem;
}

#submit-btn {
    background-color: #0070FF;
    color: white;
    max-width: 80%;
    border-radius: 0px;
}

#submit-btn-div {
    text-align: center;
    margin-bottom: 3rem;
}

#message-box {
    margin-top: 2rem;
    margin-bottom: 2rem;
}



/* CONTACT US */

#contact-us {
    color: white;
    padding: 3em 0em 1em 0em; 
    background-color: #555; 
    text-align: center; 
    letter-spacing: 0.8px;
}

#icon-phone {
    display: block; 
    margin-bottom: 1rem; 
    font-size: 3.5em; 
}

#icon-envelope {
    display: block; 
    margin-bottom: 1rem; 
    font-size: 3.5em; 
}

.copyright {
    width: 90%;
    border-top: 0.2rem solid white;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
}


/* MEDIA QUERIES */

@media (max-width: 767px) {
    
    .caption h1 {
        font-size: 2.4rem;
        letter-spacing: 0.1rem;
        padding-bottom: 2rem;
    }
    
    .caption p {
        font-size: 1.1rem;
    }

    .btn-lg {
        padding: 0.5rem 1rem;
        font-size: 1rem;
    }

    #get-started {
        width: 85vw;
    }

    .service-img {
        margin-bottom: 3rem;
    }
}




 